/* CSS for the logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  background: #3F3A36;
}

/* CSS for the logo image */
.logo {
  width: 100%;  /* Make the logo responsive */
  max-width: 200px;  /* Set a maximum width */
  height: auto;  /* Maintain the aspect ratio */
}

.custom-form-control {
  border-color: #3F3A36;  /* Set the border color */
  margin: 10px 0px 0px 0px;
  width: auto;
  box-shadow: 0 0 0 0.1rem #3F3A36;  /* Optional: add a shadow effect */
}